<div class="jumbotron text-center">
	<h1>Connect</h1>

	<p>{{ tagline }}</p>
</div>

<form class="form-horizontal">
    <div class="control-group">
    	<label class="control-label" for="inputPseudo">Username</label>
    	<div class="controls">
    		<input type="text" id="inputPseudo" placeholder="Username">
    	</div>
    </div>
    <div class="control-group">
    	<label class="control-label" for="inputPassword">Password</label>
    	<div class="controls">
    		<input type="password" id="inputPassword" placeholder="Password">
    	</div>
    </div>
    <div class="control-group">
    	<div class="controls">
    		<button type="submit" class="btn">Login</button>
    	</div>
    </div>
</form>