/**
* @site     Motio
* @version    0.1.0
* @lastmodified 2014-08-11
*/

/** --- = @section TYPOGRAPHY ---*/
html{
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f7f7;
}
ul{
  list-style-type: none;
}

/** --- = @section LAYOUT---*/
#header_back {
    position: absolute;
    height: 230px;
    width: 100%;
    background-color: #000000;
    opacity: 0.17;
}
#user_header {
    height: 230px;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    position: relative;
}
#user_header figure, #user_header nav {
    position: relative;
    z-index: 2;
    margin: 0;
}
#user_header figure {
    text-align: center;
    padding: 15px 0;
    height: calc(100% - 65px);
}
/** --- = @section COMPONENT ---*/
.r-hex {
    overflow: hidden;
    display: inline-block;
    margin: 2px;
    width: 105px;
    height: 95px;
    transform: rotate(-30deg) skewX(30deg);
    border-radius: 12px;
}
.r-hex *, .r-hex *:before {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.r-hex-inner {
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
}
.r-hex-inner-2 {
    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
    content: '';
}
.r-hex-inner-2:before {
    content: '';
    height: 100px;
    transform: skewX(-30deg) rotate(-90deg);
    background-image: url(../img/helmet_dude.jpg);
    background-size: cover;
    margin-left: -2px;
}

.rhex {
  overflow: hidden;
  display: inline-block;
  margin: 0;
  width: 108px;
  height: 98px;
  transform: rotate(-30deg) skewX(30deg) translate(-29.5%, -27.5%);
  border-radius: 12px;
  position: absolute;
  left: 50%;
}
.rhex *, .rhex *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.rhex-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
}
.rhex-inner:before {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: #ffffff;
  content: '';
}




#user_header figcaption {
    color: #ffffff;
}
#user_header figcaption h1 {
    font-size: 27px;
    font-weight: lighter;
}
#user_header nav {
    background-color: #ff910e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
#user_header nav ul {
    margin: 0;
}
#user_header nav li, #user_header nav i {
    line-height: 35px;
}
#user_header nav i+i {
    margin-left: 28px;
}
#user_header nav li {
    margin-right: 35px;
}
#user_header nav li:last-child {
    margin-right: 0;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:21px;
    height:21px;
    background-color: #dedede;
    position: relative;
    top: 4px;
}
input[type="checkbox"] + label span:hover {
  cursor: pointer;
}
.hoverCheckbox{
  border: 4px solid #999999;
  width: 13px !important;
  height: 13px !important;
}
.todo-item{
  width: 80%;
  margin: 0 auto;
  height: 60px;
  height: 35px;
  padding: 15px 20px 10px;
  position: relative;
}
.todo-item:hover{
  background-color: #dedede;
}
.todo-item p{
  margin: 0 5px;
  width: 84%;
  display: inline-block;
}
.priorities-choice, .datepicker{
  display: inline-block;
}
.todo-item-content{
  margin: auto 0;
  height: 24px;
}
/*.todo-item .dropdown-menu, .todo-item .datepicker, .todo-item .delete-button{
  display: none;
}*/
.dropdown{
  z-index: 1;
  background-color: #999999;
}
.dropdown-menu{
  width: 170px;
}
.fa-flag.priority0{
  color: #dedede;
}
.fa-flag.priority1{
  color: #95e645;
}
.fa-flag.priority2{
  color: #ff910e;
}
.fa-flag.priority3{
  color: #e64545;
}
.priorities-dropdown .fa-flag{
    left: 16px;
    position: relative;
}
.priorities-dropdown {
    padding: 5px;
    width: 50px;
    position: absolute;
    right: 60px;
    margin-top: 24px;
}
.priorities-dropdown li{
  display: block;
  margin: 0 auto;
}
.button-priorities, .button-more{
  background-color: transparent;
  border: none;
  width: 60px;
}
.todo-item .button-priorities, .todo-item .button-more{
  position: absolute;
  top: 0;
  right: 60px;
  height: 60px;
}
.todo-item .button-more{
  right: 0;
}
.button-priorities:hover, .button-more:hover{
  background-color: #999999;
  color: white;
}
.buttonPrioritiesActive{
  background-color: #999999;
}
.button-more:hover{
  background-color: #999999;
}
/** --- = @section IE ---*/







