<div id="header_back"></div>
<header id="user_header">
    <figure>
        <div class='rhex'>
            <div class='rhex-inner'></div>
        </div>
        <div class="r-hex">
            <div class='r-hex-inner'>
                <div class='r-hex-inner-2'></div>
            </div>
        </div>
        <figcaption>
            <h1>{{user.email}}</h1>
            <p>{{user.rank}}</p>
            <p><span ng-repeat="star in user.grade">star</span></p>
        </figcaption>
    </figure>
    <nav>
        <aside class="left">
            <i class="fa fa-clock-o"></i>
            <i class="fa fa-filter"></i>
        </aside>
        <ul>
            <li class="fa fa-th-large"></li>
            <li class="fa fa-th-list"></li>
            <li class="fa fa-calendar"></li>
            <li class="fa fa-search"></li>
        </ul>
        <aside class="right">
            <i class="fa fa-plus"></i>
            <i class="fa fa-angle-double-up"></i>
        </aside>
    </nav>
</header>

<div>

    <ul>
        <li class="todo-item" ng-repeat="(id, item) in items" >
            <input ng-model="item.done" ng-change="updateTodo(item._id, 'done', item.done, id)" type="checkbox" id="checkbox{{id}}">
            <label for="checkbox{{id}}"><span></span></label>
            <p>{{item.text}}</p>

            <div ng-controller="DropdownController" class="btn-group" dropdown is-open="status.isopen[$index]">
                <button type="button" class="btn btn-primary dropdown-toggle" ng-model-instant ng-click="displayPriorities = ! displayPriorities">
                    Priority: {{item.priority}} <span class="caret"></span>
                </button>
                <ul class="priorities-dropdown" role="menu" ng-show="displayPriorities">
                    <li><a href="#" ng-click="updateTodo(item._id, 'priority', 0, id)"> No priority</a></li>
                    <li><a href="#" ng-click="updateTodo(item._id, 'priority', 1, id)"> Priority 1</a></li>
                    <li><a href="#" ng-click="updateTodo(item._id, 'priority', 2, id)"> Priority 2</a></li>
                    <li><a href="#" ng-click="updateTodo(item._id, 'priority', 3, id)"> Priority 3</a></li>
                </ul>
            </div>

            <button ng-click="displayDropdownMenu = ! displayDropdownMenu">...</button>

            <ul class="dropdown-menu" ng-show="displayDropdownMenu">
                <li>
                    <div class="datepicker">
                        Due date:
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="item.dueDate" is-open="opened[$index]" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="
                        Close" ng-change="updateTodo(item._id, 'dueDate', item.dueDate, id)" ng-click="open($event, id)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, id)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span></div>
                    </li>
                    <li>
                        <button class="delete-button" ng-click="removeTodo(item, id)">Delete</button>
                    </li>
            </ul>

            
            

            
        </li>
    </ul>
    <form class="form-horizontal">
        <h2>Add a todo:</h2>

        Todo : <input type="text" ng-model="formTodoText" ng-model-instant><br />

        <div ng-controller="DropdownController" class="btn-group" dropdown is-open="status.isopen[-1]">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Priority: {{formTodoPriority}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="addPriority(0)">No priority</a></li>
                <li><a href="#" ng-click="addPriority(1)">Priority 1</a></li>
                <li><a href="#" ng-click="addPriority(2)">Priority 2</a></li>
                <li><a href="#" ng-click="addPriority(3)">Priority 3</a></li>
            </ul>
        </div><br />

        Due date:
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model-instant ng-model="formTodoDueDate" is-open="formTodoOpened"  ng-click="formTodoDatepickerOpen($event)" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="formTodoDatepickerOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span><br />
        <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add a task</button>
    </form>
</div>
<link rel="stylesheet" href="TodoModule/hexagone.css">
<link rel="stylesheet" href="TodoModule/style.css">
